<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college()</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" href="events.css"> -->
    <style>
        body {
    padding: 0px;
    margin: 0px;
}
.header-div {
    background-color:rgba(64, 224, 208, 0.507);
}
.title-div, .option-div {
    display: inline-block;
}
.title-div span {
    color: turquoise;
}
.option-div {
    float: right;
    margin: 1rem;
}
.option-div > a {
    text-decoration: none;
    background-color: rgba(238, 130, 238, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.option-div > a:hover {
    border: 0.1px solid white;
}
.option-div > button {
    background-color: rgba(238, 130, 238, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.option-div > button:hover {
    border: 0.1px solid white;
    cursor: pointer;
}
.list-div > li {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
.list-div > .a {
    color: violet;
}
.list-div > .b {
    color: indigo;
}
.list-div > .c {
    color: blue;
}
.list-div > .d {
    color: green;
}
.list-div > .e {
    color: yellow;
}
.list-div > .f {
    color: orange;
}
.list-div > .g {
    color: red;
}

.title-div > h1{
    text-align: center;
}
.table-div > table {
    border-collapse: collapse;
}
.table-div th {
    font-size: 18px;
    border: 2px solid teal;
    padding: 4px;
}

.table-div td {
    font-size: 17px;
    border: 1px solid darkcyan;
    padding: 6px 4px;
}
.table-div thead {
    background-color: rgb(252, 181, 187);
}
.table-div tr:nth-child(even) {
    background-color: rgba(252, 181, 187, 0.089);
}
    </style>
</head>
<body>
    <header>
        <div class="header-div">
            <div class="title-div">
                <ul class="list-div">
                    <li class="a">c</li>
                    <li class="b">o</li>
                    <li class="c">l</li>
                    <li class="d">l</li>
                    <li class="e">e</li>
                    <li class="f">g</li>
                    <li class="g">e</li>
                    <li class="h">(</li>
                    <li class="i">)</li>
                </ul>
            </div>
            <div class="option-div">
                <a href="/home" class="home-btn">Home</a>
                <a href="/register" class="register-btn">Register</a>
                <button class="result-btn">Result</button>
                <button class="add-btn">Admin Login</button>
                <!-- <a href="/result" class="result-btn">Result</a> -->
                <!-- <a href="/admin" class="add-btn">Admin Login</a> -->
            </div>
        </div>
    </header>
    <center>
        <div class="title-div">
            <h1>Result Declared Events</h1>
        </div>
        <div class="table-div">
            <table>
                <thead>
                    <tr>
                        <th>Sl. No.</th>
                        <th>Event</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Venue</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(row in data) {%>
                        <tr>                            
                            <td><%= +row + 1 %></td>
                            <td><%= data[row].event_name%></td>
                            <td><%= data[row].event_date%></td>
                            <td><%= data[row].event_time%></td>
                            <td><%= data[row].venue%></td>
                            <td><%= data[row].description%></td>

                            <form action="/show-result" method="POST" name="event-form">
                                <input type="text" name="event_id" value="<%= data[row].event_id%>" hidden>
                                <input type="text" name="event_name" value="<%= data[row].event_name%>" hidden>
                                <td>
                                    <button type="submit"><%= data[row].status%></button>
                                </td>
                            </form>
                        </tr>  
                    <%}%>
                </tbody>
            </table>
        </div>
    </center>
    
</body>
</html>
